<%= stylesheet_link_tag 'users_sessions_new', media: 'all' %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", media: 'all' %>

<div class="login-wrapper">
  <div class="login-form">

    <div class="login-container">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "パスワードを保存" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="login-links">
    <%= render "users/shared/links" %>
    </div>
    </div>

  </div>
</div>
