<h1><%= @title %></h1>
<%= form_with url: request.path, method: :get, local: true, class: "search-form" do %>
  <%= text_field_tag :search, params[:search], placeholder: "ユーザー名で検索", class: "search-input" %>
  <%= submit_tag "検索", class: "search-button" %>
<% end %>
<% if @users.any? %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= form_with model: current_user.active_relationships.find_by(followed_id: user.id), method: :delete, local: true do |f| %>
              <%= f.submit "フォロー解除" %>
            <% end %>
          <% else %>
            <%= form_with model: current_user.active_relationships.build, local: true do |f| %>
              <%= hidden_field_tag :followed_id, user.id %>
              <%= f.submit "フォロー" %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @users %>
<% else %>
  <p>ユーザーはいません。</p>
<% end %>